@model IEnumerable<KalkulatorPaliwka.Models.UserHistory>

@{
    ViewData["Title"] = "Activity Logs";
}

<h1>Activity Logs</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Fuel Consumption</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.username</td>
                <td>@log.Date.ToShortDateString()</td>
                <td>@log.FuelConsumption L</td>
                <td>@log.TotalCost $</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="@Url.Action("Index", "AdminDashboard")">
        <button type="button">Powrót </button>
    </a>
</div>