@model IEnumerable<KalkulatorPaliwka.Models.Vehicles>

@{
    ViewData["Title"] = "Vehicle Management";
}

<h1>Vehicles</h1>

<a href="/Admin/AddVehicle">Add New Vehicle</a>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Registration Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.RegistrationNumber</td>
                <td>
                    <a asp-action="DeleteVehicle" asp-route-registrationNumber="@vehicle.RegistrationNumber" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="@Url.Action("Index", "AdminDashboard")">
        <button type="button">Powrót </button>
    </a>
</div>